@model Product
<div class="card h-100">
    <a href="#"><img class="card-img-top" src="~/images/@Model.Image" alt="Alternate Text" /></a>
    <div class="card-body">
        <h4 class="card-title">
            <a href="#">@Model.Name</a>
        </h4>
        <h5>@Model.Price.ToString("c")</h5>
        <p class="card-text">@Html.Raw(Model.Description)</p>
        
    </div>
    <form id="@Model.ProductID" asp-action="AddToCart"
          asp-controller="Cart" method="post">
        <input type="hidden" asp-for="ProductID" />
        <input type="hidden" name="returnUrl"
               value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button type="submit"
                    class="btn btn-success btn-sm pull-right" style="align-content:center; width:100%; background-color:lightgrey">
                Add To Cart
            </button>
    </form>
</div>